html,
body {
    margin: 0;
    background: #e4e3ea;
    --paper-accent: #487d69;
}

body,
input,
button {
    font-family: 'IBM Plex Serif', 'Georgia', serif;
}

main {
    margin: 1em auto;
    max-width: 750px;
    width: 96%;
}

button,
input {
    font-size: 1em;
}

header,
section {
    margin-bottom: 1em;
}

input {
    min-width: 0;
    width: 0;
    flex-grow: 1;
}

p {
    line-height: 1.5em;
}

header h1 {
    margin: .4em 0;
}

.buttonGroup,
.item,
.left,
.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buttonGroup .left .paper {
    margin-right: .8em;
}

.buttonGroup .right {
    margin-left: -.8em;
}

.buttonGroup .right .paper {
    margin-left: .8em;
}

.buttonGroup .left,
.seedInput {
    flex-grow: 1;
}

a {
    color: var(--paper-accent)
}

.accent a {
    color: var(--paper-background);
}

.generatedText:empty {
    padding: 1em;
}

.loading {
    margin: 2em auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@keyframes pulse {
    0%, 20%, 100% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.2);
    }
}

.loading .square {
    margin: 0 .5em;
    height: 1.2em;
    width: 1.2em;
    padding: 0;
    border-radius: 50%;
    animation: pulse .8s infinite;
}

.loading .square.second {
    animation-delay: .1s;
}

.loading .square.third {
    animation-delay: .2s;
}

.fullPageButton {
    display: inline-block;
    margin: .2em 0 1em 0;
}

.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, .75);
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.howItWorks {
    width: 268px;
    padding-bottom: 1em;
}

footer {
    margin: 2em 0;
    text-align: left;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 500px) {
    .mobile {
        display: initial;
    }

    .desktop {
        display: none;
    }
}